.video__item {
  text-decoration: none;
  /* width: 100%; */
  max-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 0;
  color: #fff;
  padding: calc(165*100%/583) 30px calc(30*100%/583);
  /* border-radius: 10px; */
}

.video__item::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  /* background: transparent; */
  background-color: #000;
  opacity: 0.5;
  transition: opacity 0.2s linear;
  /* transition: 0.5s; */
  z-index: -1;
}

.video__item:hover::before {
  opacity: 0.6;
}

.video__item:hover .video__icon-play {
  transform: scale(1.1);
}
