@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__span/intro__span.css);

.intro {
  max-width: 984px;
  width: 100%;
  margin: 0 auto 92px;
}

@media screen and (max-width:1023px) {
  .intro {
    margin: 0 auto 88px;
    max-width: 720px;
  }
}

@media screen and (max-width:767px) {
  .intro {
    margin: 0 auto 64px;
    max-width: 400px;
  }
}

@media screen and (max-width:424px) {
  .intro {
    max-width: 288px;
  }
}
