.content-title {
  font-size: 72px;
  line-height: 1.08;
  font-weight: 900;
  text-align: center;
  max-width: 750px;
  /* width: 100%; */
  margin: 0 auto;
  text-rendering: optimizeLegibility;
}

/* @media screen and (max-width:1279px) {
  .content-title {
    max-width: 928px;
  }
} */

@media screen and (max-width:1023px) {
  .content-title {
    font-size: 42px;
    line-height: 1.09;
    max-width: 443px;
  }
}

@media screen and (max-width:767px) {
  .content-title {
    font-size: 32px;
    max-width: 343px;
  }
}

@media screen and (max-width:374px) {
  .content-title {
    max-width: 288px;
  }
}
